<!DOCTYPE html>
<html>

<head>
  <title>Forum</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">


  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <!-- vue aktualisiert Elemente automatisch -->
  <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- jquery ermöglicht Eingaben und sowas -->
  <script defer src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script> -->
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script defer src="{{ url_for('static', filename='site.js') }}"></script>

</head>

<body>
  <header class='container'>
    <h1>Phragen phresher Physiker</h1>
  </header>

  <div id='app'>
    <form v-on:submit.prevent="addPost" class="container">
      <h3>Add A new Post</h3>
      <div class="row">
        <div class="col">
          <input v-model="newuser" class='form-control' required type="text" name="description" placeholder="Username" />
          <input v-model="newtitle" class='form-control' required type="text" name="description" placeholder="Title" />
          <input v-model="newcontent" class='form-control' required type="text" name="description" placeholder="Content" />

          <div class="input-group mb-3">
            <div class="input-group-prepend">

              <label class="input-group-text" for="inputGroupSelect02">Topic</label>
            </div>
            <select v-model="newtopic" class="custom-select" id="inputGroupSelect02" placeholder="Choose..." >
            <option selected>Choose...</option>
            <option value="Python">Python</option>
            <option value="LaTeX">LaTeX</option>
            <option value="C++">C++</option>
            <option value="General">General</option>
          </select>
          </div>
        </div>
        <!-- <div class="dropdown">
          <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Topic
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button v-model="newtopic=Python" class="dropdown-item" href="#">Python</a>
          <button v-on:click="toggleDone(todo.id)" class="dropdown-item">Not Done</button>
            <a class="dropdown-item" href="#">LaTeX</a>
            <a class="dropdown-item" href="#">C++</a>
          </div>
        </div> -->
        <div class='col'>
          <input type='submit' class="btn btn-primary btn-lg" value='Add' />
        </div>
      </div>
    </form>
    <main>
      <header class='container'>
        <h2>Current Posts</h2>
      </header>
      <header class='container'>
        <h4>Python</h4>
      </header>
      <ul class='list-group'>
        <post v-for="post in posts" v-if='post.topic=="Python"' v-bind:post="post" v-bind:key="post.id"></post>
      </ul>
      <header class='container'>
        <h4>C++</h4>
      </header>
      <ul class='list-group'>
        <post v-for="post in posts" v-if='post.topic=="C++"' v-bind:post="post" v-bind:key="post.id"></post>
      </ul>
      <header class='container'>
        <h4>LaTeX</h4>
      </header>
      <ul class='list-group' >
        <post v-for="post in posts" v-if='post.topic=="LaTeX"' v-bind:post="post" v-bind:key="post.id"></post>
      </ul>
      <header class='container'>
        <h4>General</h4>
      </header>
      <ul class='list-group'>
        <post v-for="post in posts" v-if='post.topic=="General"' v-bind:post="post" v-bind:key="post.id"></post>
      </ul>


    </main>
  </div>
</body>

</html>





<!-- <li class='list-group-item'>
  <header class='container'>
    <div class="row">

      <div class="card" style="width: 80rem;">
        <div class="card-header">
          <div class='row'>
            <div class='col'>
              (( post.title ))
            </div>
            <div class='col'>
              (( post.username ))
            </div>
            <div class='col'>
              (( post.date ))
            </div>

            <div class="col">
              <button v-on:click="showComments = !showComments" class="btn btn-primary btn-lg">View</button>
            </div>

            <div class="col">
              <button v-if="post.solved" v-on:click="toggleSolved(post.id)" class="btn btn-success">Solved</button>
              <button v-else v-on:click="toggleSolved(post.id)" class="btn btn-primary">Not Solved</button>
            </div>
          </div>
        </div>
        <ul v-if="showComments" class='list-group'>
          <div class="card-body">
            <h5 class="card-title"> (( post.topic )): (( post.title ))</h5>
            <p class="card-text">(( post.content ))</p>
          </div>
          <li v-for="comment in post.comments" class='list-group-item'>
            <div class="card">
              <div class="card-header">
                (( comment.user.username )) wrote on (( comment.date )):
              </div>
              <div class="card-body">
                <p class="card-text">(( comment.content ))</p>
              </div>
            </div>
          </li>
          <comment-form v-bind:post_id="post.id"></comment-form>
        </ul>
      </div>
    </div>
  </header>
</li> -->
