body {
        font-family: Fira Sans sans-serif;
        background: #2e3847;
        color: #ffffff;
        font-weight: bold;
}

h2 {
        color: white;
        text-decoration: underline;
}

h1 {
        color: #64ba6a;
        font-weight: bold;
}

ul {
        color: #000000;
}

list-group {
        background: #2e3847;
}

.todo {
    padding-top: 5pt;
}
